
html, body
    font-size: 18px
    line-height: 1.3


p a 
    text-decoration: underline
    &:hover
      text-decoration: none

.right-align
    text-align: right
    display: block

.center-align
    text-align: center
    display: block

.rounded-xxl
    border-radius: 2rem

